*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icono_menu img
{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.icono_menu
{
    margin: 40px 50px;
    z-index: 10;
    position: relative;

}

.icono_menu img
{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.cont-menu
{
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 0px 4px 1px rgba(0, 0, 0, 0.516);
    width: 400px;
    height: 100vh;
    top:0;
    left: 0;
    transition: all .5s ease;
    position: absolute;
}

.active
{
    transform: translate(-600px);
    transition: all .5s ease;

}

.opacity
{
    background-color: rgba(0, 0, 0,.5);
}

/* estilo de listado menu */
.cont-menu ul 
{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li
{
    color: wheat;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}
.cont-menu ul li:hover
{
    background-color: wheat;
    color: black;
}