* 
{
    padding             0;
    margin:             0;
    box-sizing:         border-box;
    font-family:        consolas;
}

body
{
    display: flex;
    justify-content:    center;
    align-items:        center;
    min-height:         100vh;
    background:         linear-gradient(#73c1ff,#fff);
}


.payment
{
    position:           relative;
    display:            flex;
    justify-content:    center;
    align-items:        center;
    flex-direction:     column;
    padding:            0px;
    transition:         0.5s;
}
.payment:hover
{
    padding:            40px;
}

.payment .bg 
{
    position:           absolute;
    bottom:             0;
    height:             70%;
    width:              100%;
    background:         linear-gradient(225deg,#2196f3,#ff4efd);
    border-radius:      25px;
}

.payment .card 
{
    position:           relative;
    width:              580px;
    height:             350px;
    background:         #fcfcfc;
    border-radius:      15px;
    padding:            40px;
    box-shadow:         6px 6px 12px rgba(0,0,0,0.1);
    z-index:            1000;
    overflow:           hidden;
    transform:          translateY(119px);
    transition:         0.5s;
}
.payment:hover .card 
{
    transform:          translateY(0);
}

.payment .card::before
{
    content:            '';
    position:           absolute;
    top:                -50%;
    left:               -20%;
    width:              500px;
    height:             500px;
    border-radius:      50%;
    background:         linear-gradient(to bottom,rgba(0,0,0,0.05),transparent);
    pointer-events:     none;
}
.chip
{
    position:           absolute;
    max-width:          100px;
    margin-top: -25px;
}
.logo
{
    position:           absolute;
    top:                130px;
    right:              40px;
    width:              60px;
    height:             60px;
    background:         #ea222c;
    border-radius:      50%;
    box-shadow:         -40px 0 0 rgba(255,164,36,0.5);
}

.bankname 
{
    color:              #999;
    text-align:         end;
    outline:            none;
    width:              100%;
    font-size:          1.5rem;
}
form 
{
    margin-top:         45px;
}

.inputBox 
{
    display:            flex;
    flex-direction:     column;
    margin-bottom:      20px;
}
.inputBox span
{
    color:              #089cff;
    font-size:          1.1reml
}
.inputBox input 
{
    border:             none;
    outline:            none;
    background:         transparent;
    font-size:          1.8rem;
    color:              #333;
}
.group 
{
    width:              100%;
    display:            flex;
}
.group .inputBox:last-child
{
    max-width:           60px;
}

.btn 
{
    position:           relative;
    margin:             40px;
    padding:            15px 20px;
    border-radius:      5px;
    border:             none;
    outline:            none;
    background:         #fff;
    color:              #333;
    font-size:          1.5rem;
    box-shadow:         3px 3px 6px rgba(0,0,0,0.1);

}
